<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
        <li v-for="good in goodList" v-bind:key="good.goodName">
            <span>{{good.goodName}}</span>
            --<span>{{good.price}}</span>
            --<span><input type="number" v-model="good.count" /></span>
            --<span>{{good.price*good.count}}元</span>
        </li>
     </ul>
     <h2>总价为：{{totalPrice}}</h2>
    </div>
    <script>
var app= new Vue({
    el:"#app",
    data:{
         goodList:[
             {goodName:"空洞骑士",price:"18",count:0},
             {goodName:"脑叶公司",price:"68",count:0},
             {goodName:"Nier",price:"268",count:0},
             {goodName:"Denity2",price:"168",count:0}
         ],
         totalPrice:0
      },
      watch:{
          goodList:{
              deep:true,
              handler:function(newVal){
                  //newVal指向更新后的goodList
                var result=0;
                  //good代表数组迭代出来的每一个good元素，index是他的数组索引
                newVal.forEach(function(good,index){
                    result+=good.price*good.count;
                })
                this.totalPrice=result;
              }
          }
      }
    }) 
</script>
</body>
</html>